.turing_label {
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    font-weight: 600;
    font-size: 350px;
    letter-spacing: -0.04em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15vh;
    text-align: center;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    z-index: 0;
    span {
      background: linear-gradient(183.63deg, #9EB6D7 -53.18%, #0A5093 64.64%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

.hideTuring {
    opacity: 0;
}