.searchfield__container {
    display: flex;
    justify-content: center;
    position: relative;
}

.searchfield__container img {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 18px;
    z-index: 2;
}
.disabled {
    input {
        pointer-events:none;
        opacity: 0.3;
    }
    img {
        cursor: default;
        opacity: 0.3;
    }
}
input.search_field {
    width: 100%;
    height: 60px;
    border-radius: 100px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 22.08px 0px #FFFFFF1F inset;
    margin: 0 auto;
    z-index: 1;
}
  
input.search_field:focus {
    outline: none;
}
  
input.search_field[placeholder] {
    padding: 18px 35px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}
::placeholder  { color: rgba(255, 255, 255, 0.43); }