.sidebar__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    max-width: 500px;
    width: 100%;
    background: #032A4F;
    box-sizing: border-box;
    transition: margin 0.5s;
    margin: 0 0 0 -550px;
    z-index: 3;
}
.sidebar__container.is_open {
    margin: 0;
}

.sidebar__container .timeline {
    padding-left: 60px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF6B;
    margin-top: 40px;
}

.sidebar__container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 23px;
    max-height: 430px;
    overflow-y: auto;
}
.sidebar__container ul > div {
    padding: 7px 50px 7px 60px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s ease;
}
.sidebar__container li {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar__container ul > div:hover  {
    text-decoration: underline;
}

.sidebar_content {
    height: 100%;
}