.button_container {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    width: 25px;
    height: 25px;
    z-index: 10;
}