.sidebar__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 450px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 65px 75px;
    transition: margin 0.5s;
    margin: 0 0 0 -450px;
}
.sidebar__container.is_open {
    margin: 0;
}

.sidebar__container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 12px;
}
.sidebar__container li {
    font-size: 20px;
    font-weight: 500;
    line-height: 100px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.sidebar__container li:hover  { scale: 1.05; }

.sidebar_content {
    height: 100%;
    margin-top: 50px;
}