.question_field {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.question_field p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px 25px 0 25px;
    background: #135FAE;
    box-shadow: 0px 9.58px 119.81px 0px #135FAE;
    color: rgba(255, 255, 255, 1);
}