.answer_field {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0 25px;
}
.answer_text {
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 25px 25px 25px 0;
    color: rgba(255, 255, 255, 1);
    line-height: calc(25 / 20);
    background: #323232;
}