.answer_field {
    width: 100%;
    display: flex;
}
.answer_field p {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px 25px 25px 0;
    color: rgba(255, 255, 255, 1);
    line-height: calc(25 / 20);
    background: #3D518C;
    box-shadow: 0px 9.58px 119.81px 0px #3D518C;
}