* {
  font-family: "Montserrat";
}

.App {
  background-color: #201F1F;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content__container {
  width: 100%;
  position: relative;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.turing_label {
  position: absolute;
  font-weight: 600;
  font-size: 200px;
  letter-spacing: -0.04em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 8vh;
  text-align: center;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  z-index: 0;
  h1 {
    margin: 0;
    padding: 0;
    color: #D7D8CE;
    opacity: 0.09;
  }
}

.dialogcontent__container {
  padding: 0 100px;
  height: 100%;
}

.footer__container {
  display: flex;
  justify-content: flex-end;
  padding: 35px 80px 45px 80px;
}

.footer__container img {
  cursor: pointer;
}